<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-s"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="Installation, Electrical, ICT, Airfields, Wireless, Cable"> <!-- keywords for marketing/SEO-->
	<meta name="description" content="Silchip webpage"> <!--phrases for marketing/SEO-->
	<meta name="revised" content="Airfield, 5/07/2024"> <!-- for marketing purposes/indicating currency of information. Will also be used in blogpages-->
	<meta name="author" content="Technical Department">
	<!--<meta http-equiv="refresh" content="3"> -->
	<title>Silchip International Limited</title>
	<link rel="stylesheet" href="S.css">
	<script src="J.js"></script>

</head>
<body>
	<div id="big_wrapper">
		<div id="first_header">

		<header id="top_header"> 
			<!--<header id="Logo_part"-->
				<img src="Silchip Logo.png" alt="Silchip Logo" width="150" /><br>
			</header>
			<address id="Address">
					<address>
					Silchip Office <br>
					Aoko Road <br>
					South B<br>
					Nairobi, Kenya
					</address>
			</address>
		</header>
		</div>
		
		<nav id="top_menu">
			<ul>
				<li>Home</li>
				<li>About us</li>
				<li>Services</li>
				<li>Blog/Podcast</li>
				<li>Phone: +254 727 038816</li>
				<li>Email:info@silchip.com</li>
			</ul>	
		</nav>
		<br>
		
		<p><strong><font size ="4"; face="Verdana"><i>Welcome to Silchip International Limited</i></font></strong></p>
		<br>
		<br>
		
		<div class="slider">
			<img id="img-1" src="Reefers.jpg" alt="Reefers" width="245" />
			<img id="img-2" src="Network.jpg" alt="Network" width="245"/>
			<img id="img-3" src="Supply.jpg" alt="Supply-RERECP" width="245"/>
			<img id="img-4" src="EL.jpg" alt="Electrical-LAB" width="245"/>
		</div>
		
		<div class="navigation-button">
			<span class="dot active" onclick="changeSlide(0)"></span>
			<span class="dot" onclick="changeSlide(1)"></span>
			<span class="dot" onclick="changeSlide(2)"></span>
			<span class="dot" onclick="changeSlide(3)"></span>
		</div>
		
		<!--<div id="new_div">-->
		
		<section id="main_section">
			<!--<article>-->
				<div id="About_us">
					<div id="Article_AboutUs">
				<article> 
						<header>
							<hgroup>
								<h1>About Us </h1>
								<h2>What we do</h2>
							</hgroup>
						</header>
									<p id="para1">We listen to help know what is the best solution to your situation. Is it consultation or Quotation?</p>
									<br>
									
									<h3>How we do it</h3>
									<p>
										<h4>Concept</h4>
										Concepts are abstract ideas you have in your mind. This is the first stage of our solutions development cycle. In this stage we endeavour to answer the questions to help build the solution.
									</p>
									<br>
									
									<p>
										<h4>Design</h4>
										In this second stage, we put ink to paper and clearly create a system that can be implemented to the satisfaction of our customers.
									</p>
									<br>
									
									<p>
										<h4>Build</h4>
										In this final stage, the solution is brought to life. We build and implement the ideas discussed and confirmed during the concept and design stages.
									</p>
									<br>
									
									<p>
										<h4>Relationship</h4>
										This is the continous follow-up communication to know the changes experienced on use of the solutions and implementation of any new developments on the product. 
									</p>
									<br>
			
						<footer> 
							<p> -Technical Department</p>
						</footer>
					</div>
					<div id="AboutUS_Image">
						<img src="CDB.png" alt="Concept-Design-Build" width="250" />
						
					</div>
				
				</article>
				
				<div id="Our_Products">
					<div id="Article_Products">
					<article> 
						<header>
							<hgroup>
								<h1>OUR PRODUCTS </h1>
								<h2>Serives/Products</h2>
							</hgroup>
						</header>
							<ol>
								<li>Airfields Systems</li>
								<li>ICT/Telecommunication: cabling and wireless</li>
								<li>Electrical</li>
								<li>Civil Works</li>
								<li>Suppliers of Contrator Materials</li>
							</ol>
							
						<footer> 
							<p> -Marketing Department</p>
						</footer>
					</div>
					<div id="Product_Image">
						<img src="E.png" alt="Electrical-LAB" width="250" />
						<img src="ICT.png" alt="ICT-KQ" width="250" />
						<img src="Supply1.png" alt="Supply-REREC" width="250" />
					</div>
					</article>
					
					
				<div id="Clients_Experience">
					<div id="Client">
					<article> 
						<header>
							<hgroup>
								<h1>CLIENT HISTORY </h1>
								<h2>Experience</h2>
							</hgroup>
						</header>
										<h4>A. Corporate/Parastatals</h4>
										<ol>
											<li>Kenya Civil Aviation Authority: Radio Networks</li>
											<li>Ministry of Defence:Electrical, ICT and Radio</li>
											<li>KenGen: Highmast electrical</li>
										</ol>
										<a href="post.html">Readmore</a><br>
										<br>
										
										<h4>B. Private Businesses</h4>
										<ol>
											<li>AutoPorts Freight: Reefer units power supply</li>
											<li>Kone Kenya: AVS for lifts</li>
											<li>Kenrus:AVS for lifts</li>
										</ol>
										<a href="post.html">Readmore</a><br>
										<br>
										
										
										<h4>C. Individuals</h4>
										<ol>
											<li>Mr. A. Galo:Gym Building</li>
											<li>Mr. N. Richard: Residential House</li>
											<li>Mr. M. Mwani: Residential House</li>
										</ol>
										<a href="post.html">Readmore</a><br>
										<br>
					<!--</div>-->
					
				<!--</div> -->
									
						<footer> 
							<p> -Customer Care Department</p>
						</footer>
					<div id="Client_image">
						<img src="Galo.png" alt="Building-Gym" width="250" />
						<img src="KQ.png" alt="ICT-KQ" width="250" />
						<img src="EASA.png" alt="Radios-EASA" width="250" />
					
					</div>
					
					</article>
			</article>
		</section>
		
		<!--<aside id="side_news">
			<h4>News</h4>
			Coming up item
		</aside> -->
	<!--</div>-->
		
		<footer id="the_footer">
		<h4>More</h4>
			<p>Sustainability Statement</p>
			<p>Disable Person Statement</p>
			<p>Data Privacy Statement</p>
			<br>
			<a social-icon id="social_icon" href="https://www.linkedin.com/silchip"> <!--this opens up in current tap. To open up in new table: <a href="https://www.linkedin.com/silchip" target="_blank">--> 
				<ion-icon name="logo-linkedin"></ion-icon>
			</a>
			
			<a href="https://www.facebook.com/silchipinternational">
				<ion-icon name="logo-facebook"></ion-icon>
			</a>
			<a href="">
			
			<ion-icon name="logo-instagram"></ion-icon> 
			</a>
			
			
			<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
			<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
			<!--<p>Links: Social Media-Facebook,X,instagram,Pinterest and Linkedin</p>-->
			<br>
			Copyright &copy; 2024, Silchip Website. All Rights Reserved
		</footer>
	</div>
</body>
</html>